* {
  box-sizing: border-box;
}

body {
  background-color: #f1b151;
}

.recipesCardSection {
  margin-top: 10rem;
}

.loadingDivStyles {
  text-align: center;
  margin-top: 160px;
}

/*LAYOUT FOR THE DESKTOP*/
@media (min-width: 1024px) and (orientation: landscape) {
  .recipesCardSection {
    display: flex;
    flex-wrap: wrap;
  }
}
